body {
    background: linear-gradient(to bottom, #c75b0e, #8e220d);
    color: black;
}


.navbar {
    background-color: #000;
   
}
#navbar {
    color: #c75b0e; 
}

.navbarNav{
    background-color: #c75b0e;
}

.nav-link{
    color: #c75b0e;
}
.navbar-toggler-icon{
    color: #c75b0e !important;
}
.hero img {
    max-width: 100%;
    height: auto;
}
.menu-section {
    padding: 50px 0;
}
.menu-item {
    margin-bottom: 30px;
}
.footer {
    background-color: #000;
    color:#c75b0e;
    padding: 20px 0;
    text-align: center;
}
.img-principale{
    border-radius: 10px;

}

.img-fluid{
    border-radius: 10px;
}

#slogan{
    font-size: xx-large  !important;
    font-style: unset;

}



/* sign.html */ 

.gradient-custom-2 {
    
    background: #fccb90;
    
    /* dégradé bg */
    background: -webkit-linear-gradient(to right, #ee7724, #c75b0e, #df5227, #000000);
    
    /* dégradé bg*/
    background: linear-gradient(to right, #ee7724, #c75b0e, #df5227, #000000);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

/* sign.html  FIN*/ 